**/.classpath
**/.dockerignore
.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.exe
**/*.dbmdl
**/*.jfm
.git
node/vendor
registry/vendor
**/*.log
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
*.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
